<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <%= render 'users/info', user: @user %>
      <%= render 'recipes/form', recipe: @recipe %>
    </div>

    <div class=col-xs-8>
      <h1>Recipes</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @recipes.each do |recipe| %>
          <tr>
            <td>
              <%= link_to recipe_path(recipe.user.id) do %>
              <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
              <% end %>
            </td>
            <td><%= link_to recipe.title, recipe_path(recipe) %></td>
            <td><%= recipe.body %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>